doctype html
html
    head
        script(src='/javascripts/jquery-1.11.1.min.js')
        script(src='/javascripts/borrow.success.back.js')
        body
            p 借阅成功,1秒后返回
            form(role='form')
                input(type='hidden' id='uid' value=uid)
                input(type='hidden' id='upsd' value=upsd)

