doctype html
html
    head
        script(src='/javascripts/jquery-1.11.1.min.js')
        script(src='/javascripts/destroy.success.back.js')
        body
            p 借阅成功
                a(id='back' href='#') 点此
                span 返回


