doctype html
html
    head
        meta(http-equiv='pragma' content='no-cache')
        meta(http-equiv='cache-control' content='no-cache')
        meta(http-equiv='expires' content='0')
        title= title
        //include ./head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

        script(src='/javascripts/jquery-1.11.1.min.js')
        script(src='/javascripts/bootstrap.min.js')

    body
        block content

